.proveedoresH2{
    color:rgb(34, 108, 108);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.proveedoresFieldset{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0.5%;
    border: #0f6b69 3px solid;
    background: rgb(185,185,185);
    background: linear-gradient(0deg, rgba(185,185,185,0.4142449216014531) 19%, rgba(228,228,228,0.32741018770789565) 86%);
    font-weight: 600;
}

.btnEditar{
    width: 80px;
    height: 90px;     
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
}
.btnEditarIcon{
    margin: 0px 0px 0px -5px;
    width: 70px;
    height: 55px;
}

.btnEditarText, .btnAgregaProveedorText {
    font-weight: 750;    
    text-shadow: 3px 3px 3px  rgb(209, 199, 199);    
    position: relative;
}
.btnEditarText{
    top: -11px;   
}
.btnAgregaProveedorText{
    top: -17px;  
}
.proveedorFieldset{
    margin-left: 2%;
    margin-right: 2%;
    border: #0f6b69 3px solid;
    background: rgb(185,185,185);
    background: linear-gradient(0deg, rgb(235, 227, 227) 19%, rgb(243, 237, 237) 86%);
    font-weight: 600;
    height: 48vw;
}
.contenedorProveedor{
    display: flex;
    flex-flow: row wrap;
    justify-content:center; /* Alinear los elementos al principio */
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center; /* Alinear los elementos verticalmente */
}
.contenedorDerecho{
    display: flex;
    flex-flow: row wrap;
    justify-content:center; /* Alinear los elementos al principio */
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center; /* Alinear los elementos verticalmente */
}
.ladoIzquierdo{
    width: 25vw;    
}
.filedsetDerecho fieldset{
    border: 0.1px solid gray;
    text-align: center;
}
.filedsetDerecho{
    font-weight: 400;
}
.filedsetDerecho input{
    width: 20vw;
    color:rgb(34, 108, 108);
    font-weight: 600;
    text-align: center;
}
.listadoProveedores{
    background-color: rgb(249, 244, 244);
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 42vw;
}
.fondo{
    background-image: url(../../assets/FondoOcasa.svg);
    background-repeat: repeat;    
}

/* Responsive Screens */
@media only screen and (max-width: 500px) {
    .ladoIzquierdo{
        width: 48vw;    
    }
    .ladoDerecho{
        width: 48vw;
    }
    .proveedoresFieldset{
        margin-left: 1%;
        margin-right: 1%;
    }
    .listadoProveedores{
        height: 80vw;
    }
    .proveedorFieldset{
        height: 120vw;        
    }
    .proveedorFieldset input{
        width: 33vw;
    }
    .contenedorDerecho{
        margin-left: 1vw;
    }

}