.cardContainer{
    position: relative;    
}
.cardImg{
    width: 5vw;
    z-index: -1;
}
.cardText{
    z-index: 1;
    position: relative;
    top:-58px;   
    color: black;
    font-size: 13px;
    font-weight: 700;  
    text-align: center;  
}

.cardText:hover {
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .cardImg{
        width: 14vw;        
    }
}

@media only screen and (max-width: 380px) {
    .cardImg{
        width: 13.5vw;        
    }
    .cardText{
        top:-50px;  
    }
}
