.cardContainer{
    position: relative;   
    transition: transform 0.3s ease; /* Añadir transición suave */     
}
.cardContainer:hover {
    transform: scale(1.2); /* Aumentar tamaño al 110% al hacer hover */
}
.cardImg{
    width: 5vw;
    z-index: -1;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
    border-radius: 30px;
}
.cardText{
    z-index: 1;
    position: relative;
    top:-58px;   
    color: black;
    font-size: 13px;
    font-weight: 700;  
    text-align: center;  
}

.cardText:hover {
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .cardImg{
        width: 14vw;        
    }
}

@media only screen and (max-width: 380px) {
    .cardImg{
        width: 13.5vw;        
    }
    .cardText{
        top:-50px;  
    }
}
