.agendarH2{
    color:rgb(34, 108, 108);
    text-align: center;
    background-color: white;
}
.agendarFieldset{
    margin-left: 25%;
    margin-right: 25%;
    border: #0f6b69 3px solid;
    background: white;
    
    background: linear-gradient(0deg, rgb(235, 227, 227) 19%, rgb(243, 237, 237) 86%);
    font-weight: 600;
}
.contenedorAgenda {
    display: flex;
    flex-flow: row wrap;
    justify-content:center; /* Alinear los elementos al principio */
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center; /* Alinear los elementos verticalmente */
}
  
.contenedorAgenda li {
    margin-right: 10px; /* Espacio entre los elementos */
}
.datepicker, .horaInicio, .volumen, .proveedores, .ordenProvision, .obs{
    color:#0f6b69;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
}
.datepicker{
    width:23.3vw;   
    margin-left: 10vw;
}

.HeaderButton{
    width: 80px;
    height: 90px;     
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
}
.HeaderIcon{
    margin: 0px 0px 0px -5px;
    width: 70px;
    height: 55px;
}

.HeaderButton1Text, .HeaderButton2Text {
    font-weight: 750;    
    text-shadow: 3px 3px 3px  rgb(209, 199, 199);    
    position: relative;
}
.HeaderButton1Text{  
    top: -18px;    
}
.HeaderButton2Text{   
    top: -12px;    
}
.horaInicio{
    width:24vw;
    margin-left: 5vw;
}
.proveedores{
    width:21.2vw;   
    margin-left: 7.3vw;
}

.tooltip{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 90px;
    text-align: center;    
    border-radius: 10px;
    border: black 1px solid;
    padding: 2px 5px 4px 5px;
    margin-left: 5px;
    margin-top: -10px;
    visibility: hidden;
}
.agregaProveedor:hover .tooltip{
    visibility: visible;
}
.ordenProvision{
    width:23.5vw;   
    margin-left: 2.3vw;
}
.volumen{
    width:26vw;
    margin-left: 1.4vw;    
}
.obs{
    width:28vw;
    margin-left: 1.6vw;
    height: 5vw;
    resize: none;
}
.Turnos{
    width: 35vw;
    height: 15vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}
.cardContainer{
    padding: 5px 5px 5px 5px;
    margin-left: 1vw;  
    margin-top: -5px;
    margin-bottom: -40px;
}

.fondo{
    background-image: url(../../assets/FondoOcasa.svg);
    background-repeat: repeat;    
}
/* Responsive Screens */
@media only screen and (max-width: 500px) {
    .agendarFieldset{
        margin-left: 2%;
        margin-right: 2%;
    }
    .datepicker{
        width: 40vw;
    }
    .horaInicio{
        width:40vw;
        margin-left: 0.1vw;
    }
    .contenedorAgenda{
        font-weight: 400;
    }
    .proveedores{
        margin-left: 2.2vw;
        width: 42vw;
    }
    .ordenProvision{
        margin-left: 2.2vw;
        width: 42vw;
    }
    .volumen{
        width:35vw;
        margin-left: 2.3vw;     
    }
    .obs{
        width:40vw;
        margin-left: 2.3vw;
        height: 15vw;  
    }

}