.Home {
    text-align: center;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);       
  }
  
  .HomeLogo {
    height: 30vmin;
    pointer-events: none;
    margin-top: 20%;
  }

  .HomeLink {
    color: #61dafb;
  }
  
  @media (prefers-reduced-motion: no-preference) {
  
  }
/* Responsive Screens */
@media only screen and (max-width: 500px) {
  .HomeLogo {
    margin-top: 60%;
  }
}
  
  