.btnSalir{
    width: 100px;
    height: 90px;     
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
    transition: transform 0.3s ease; /* Añadir transición suave */
}
.btnSalir:hover {
    transform: scale(1.2); /* Aumentar tamaño al 110% al hacer hover */
}

.btnSalirIcon{
    margin: 0px 0px 0px -5px;
    width: 70px;
    height: 55px;
}

.btnSalirText {
    font-weight: 750;    
    text-shadow: 3px 3px 3px  rgb(209, 199, 199);    
    position: relative;
    top: -12px;    
}
